PASTA_ENTRADA=C:\PREENCHER\CAMINHO\DA\PASTA\DE\ENTRADA
PASTA_SAIDA=C:\CAMINHO\DO\PROJETO\Renomeados
CAMINHO_RELATORIO=C:\CAMINHO\DO\PROJETO\relatorio_processamento.xlsx
CAMINHO_LOG=C:\CAMINHO\DO\PROJETO\logs\app.log
INTERVALO_POLLING_SEGUNDOS=20
CHECKS_ESTABILIZACAO=2
